@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

html {
  background-color: #000011;
}

.App {
  text-align: center;
  color: white;
  background-color: #000011;
  min-height: 100vh;
  font-weight: 300;
}

.brand {
  font-family: "Lato", sans-serif;
}

.mono {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.thin {
  font-weight: 200;
}
